.home-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* align-items: center; */
    background: #10141E;
    gap: 20px;
    padding: 30px 30px 103px;

}

.nav-bar-container {
    /* background: white;; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;

}
/* img{
    width: 32px;
height: 32px;

} */

.feild-style {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 400;
    width: 550px;
    text-align: left;
    /* width: 1206px;
height: 53px; */
    padding: 0;
    border-radius: 8px;
    background: #10141E;


}

.search-button {
    background: #5A6A90;
    width: auto;
    color: white;
    font-size: 14px;
    align-self: flex-start;
}

.movie-list {
    text-align: center;
    color:white;
}

.search-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.trending-movies,.popular-movies{
    font-family: Poppins;
font-size: 40px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: left;

}