.home-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #10141e;
  gap: 120px;
  padding: 30px 30px 103px;
}
@media (max-width: 1024px) {
  .home-container {
    gap: 0;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .home-container {
    gap: 0;
    padding-left: 0;
  }
}
