.logout-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1001;
  width: 35%;
}
.popup-message {
  color: black;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .popup-content {
    width: 50%;
  }
  .popup-message {
    font-size: 15px;
  }
  .lo-button {
    width: 96px;
  }
}
