label {
  display: block;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  color: white;
}


input {
  width: 338px;

  border-radius: 8px;
  background: #333333;

  border: none;
  outline: none;
  font-size: 14px;
  color: white;
  padding: 10px 10px;
}

@media screen and (max-width: 768px) {
  input {
    width: 290px;
  }
}