.nav-bar {
}

.home-images {
  background: #171e31;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 20;
  padding: 15px;
  border-radius: 10px;
  position: fixed;
}

li:nth-last-child(5),
li:nth-last-child(1) {
  margin-top: 2.5rem;
}
.nav-logout-button .cancel-button {
  border-radius: 8px;
  font-family: Poppins;
  text-align: center;
  cursor: pointer;
  width: auto;
  padding: 8px 16px;
}
.nav-logout-button,
.cancel-button {
  width: 59px;
  height: 30px;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  border: none;
  cursor: pointer;
}
.cancel-button {
  margin-top: 7px;
}
