.image-link {
  display: block;
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0;
}
.carousel img {
  pointer-events: auto;
}
.trending-images {
  width: 200px;

  height: 245px;
  border-radius: 16px;
}
.slider animated {
  right: 550px;
}
