.image-link {
  display: block;
  width: 90%;
  height: 100%;
  position: relative;
  margin: 0;
}
.carousel img {
  pointer-events: auto;
}

.slider animated {
  right: 550px;
}
@media (max-width: 1024px) {
  .image-link {
    width: 94%;
  }
}
