.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  position: fixed;
  z-index: 3;
  height: 95px;
  width: 100%;
  top: 0;
  background: #10141e;
}

.search-icon {
  height: 28px;
}
.search-button {
  background: #5a6a90;
  width: auto;
  color: white;
  font-size: 14px;
  margin-left: 563px;
}
.search-query-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  margin-top: 60px;
}
.searched-images {
  width: 301px;
  height: 240px;
  border-radius: 16px;
}
.searchresult-number {
  color: white;
  margin-top: 89px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 0;
}
.genre-container {
  margin: 0;
}
@media (max-width: 1200px) {
  .search-button {
    margin-left: 290px;
  }
}
@media (max-width: 1024px) {
  .search-button {
    margin-left: 241px;
  }
}
@media (max-width: 820px) {
  .search-button {
    margin-left: 19px;
  }
}
@media (max-width: 667px) {
  .search-container {
    gap: 14px;
  }
  .search-button {
    margin-left: 0;
    height: 37%;
  }
  .searchresult-number {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .search-icon {
    width: 16px;
    height: 16px;
  }
}
