.category-tvseries-button,
.category-tvseries-second-button {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #0f766e;

  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.category-tvseries-second-button {
  background: #171e31;
}

@media (max-width: 1024px) {
  .category-tvseries-button,
  .category-tvseries-second-button {
    font-size: 16px;
  }
}
