.home-container {
  padding: 0px 30px 30px;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
}

.feild-style {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 400;
  width: 550px;
  text-align: left;
  padding: 0;
  border-radius: 8px;
  background: #10141e;
}

.movie-list {
  text-align: center;
  color: white;
}

h2 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.trending-images {
  width: 200px;
  object-fit: cover;
  height: 245px;
  border-radius: 16px;
}

.movie-title {
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1px;
  width: 248px;
}

.flex-container {
  max-width: 100%;
}

.movie-button {
  width: 80px;
  height: 32px;
  border-radius: 8px;
  border: 2px solid white;
  background: black;
  color: white;
  font-size: 14px;
}

.movie-trending {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 56px;
}
.tv-trending {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 0;
}
.movie-popular {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.movie-details {
  color: #ebf0f3cb;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-align: left;
}

.movie-image {
  height: 12px;
  max-width: 30px;
}

.p-tag {
  color: #ebf0f3cb;
  margin: 0;
}

.bookmark-button {
  position: absolute;
  height: 40px;
  z-index: 1;
  /* left: 30%; */
  left: 41%;
  top: 1%;
}
.carousel * {
  box-sizing: border-box;
  text-decoration: none;
}

.carousel .control-dots {
  display: none;
}

/* body .carousel.carousel-slider .control-arrow {
  margin-top: 112px;
} */

.carousel .slider-wrapper.axis-horizontal .slider {
  /* right: 12%; */
  /* gap: 2rem; */
}
.carousel .slide {
  max-height: 300px;
}
.loading {
  color: white;
}
/* .feild-style:focus-within {
  border: 2px solid white;
} */

@media (max-width: 1200px) {
  .flex-container {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  /* .carousel .slider-wrapper.axis-horizontal .slider {
    right: 25%;
  } */
  .movie-trending {
    margin-top: 137px;
  }
}
@media (max-width: 820px) {
  .flex-container {
    max-width: 100%;
  }

  body .carousel.carousel-slider .control-arrow {
    margin-top: 112px;
    width: 86px;
  }
}
@media (max-width: 768px) {
  .flex-container {
    max-width: 100%;
  }
  body .carousel.carousel-slider .control-arrow {
    right: 45px;
  }
}
@media (max-width: 667px) {
  .flex-container {
    max-width: 100%;
  }

  .home-images {
    width: 100%;
    gap: 17%;
  }
  .movie-title {
    font-size: 14px;
  }
  .movie-details {
    font-size: 10px;
    gap: 4px;
    line-height: 0;
  }
  .trending-images {
    width: 184px;
    height: auto;
  }

  h2 {
    font-size: 20px;
  }
  .movie-button {
    width: 66px;
    font-size: 10px;
  }

  .feild-style {
    width: 209px;
    font-size: 14px;
  }

  .movie-title {
    width: fit-content;
  }
  /* .movie-trending {
    margin-top: 96px;
  } */
  body .carousel.carousel-slider .control-arrow {
    right: 0;
  }
  .bookmark-button {
    left: 23%;
  }
}
