button {
  width: 174px;
  height: 40px;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  cursor: pointer;
}