.no-result {
  color: white;
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0em;
  top: 64px;
  margin: 0;
}
.no-results-page {
  background: url(C:\Users\bhumikarasure\Desktop\Streaming-website-project\ott-platform\src\assets\images\nosearchresult.svg);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-size: cover;
}
.arrow-search {
  padding: 20px 0 0 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .no-results-page {
    background-size: contain;
  }
}
@media (max-width: 667px) {
  .no-result {
    font-size: 16px;
  }
}
