.home-container {
  padding: 0 100px 30px 30px;
}
.movie-card-images {
  width: 416px;
  height: 625px;
  top: 185px;
  left: 184px;
  border-radius: 16px;
  margin-top: 100px;
}
.movie-details-flex-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.movie-card-details-page {
  margin-top: 130px;
}
.details-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  font-family: poppins;
  opacity: 50%;
}
.synopsis-overview {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  font-family: poppins;
  opacity: 70%;
}
.synopsis-header {
  color: white;
}
.details-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 8px;
}
.rating {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
.genre-button {
  width: auto;
  font-size: 16px;
  border-radius: 8px;
}
.details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail-description {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.genre-button-align {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.tag-line {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  opacity: 50%;
}
@media (max-width: 820px) {
  .movie-details-flex-container {
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }
  .movie-card-details-page {
    margin: 0;
  }
  .synopsis-overview {
    margin-bottom: 120px;
  }
  .movie-card-images {
    width: 752px;
    height: 635px;
    top: 139px;
    left: 24px;
    border-radius: 24px;
  }
}
@media (max-width: 768px) {
  .movie-card-images {
    width: 716px;
  }
}
@media (max-width: 667px) {
  .movie-card-images {
    width: 336px;
    height: 40%;
  }
}
